*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
section .imgbox{
  position: relative;
  width: 50%;
  height: 100%;
}

section .imgbox before{
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section .imgbox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .contentbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

section .contentbox .formbox{
  width: 50%;
}

section .contentbox .formbox h2{
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid orange;
  display: inline-block;
  letter-spacing: 1px;
}

section .contentbox .formbox .inputbox{
  margin-bottom: 20px;
}

section .contentbox .formbox .inputbox span{
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
  letter-spacing: 1px;
}

section .contentbox .formbox .inputbox input{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}

section .contentbox .formbox .inputbox input[type="submit"]{
  background: orange;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

section .contentbox .formbox .inputbox p{
  color: #607d8b;
}

section .contentbox .formbox .inputbox p a{
  color: orange;
}

h3{
  color: #607d8b;
  text-align: center;
  margin: 80px 0 10px;
  font-weight: 500;
}
