{%extends 'flight/base.html'%}
{%block content%}

{%load static%}
<link rel="stylesheet" href="{%static 'flight/about.css'%}">

<div class="bgimage">

    <div class="text">
<h1>About Us</h1>
<hr>
<p>Travel is the main thing you purchase that makes you more extravagant”. We, at Holidazzle, swear by this and put our efforts for fulfilling your travel dreams. We bring you a platform where in you can book flights, cabs and trains all at one place. A vast and satisfied client base is our real achievement because we try our best to make your travel encounters chaos-free.</p>
</div>
</div>

{%endblock%}